<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Tak Berarah</title>
    <script src="/js/undigraph.js" defer></script>
    <script type="text/javascript" src="/js/vis-network.min.js" defer></script>
</head>

<body>
    <h1>Graph Tak Berarah</h1>
    <article class="article-graph">
        <label for="select-book">Buku: </label>
        <select name="book" id="select-book">
            <option value="1">Buku 1</option>
            <option value="2">Buku 2</option>
            <option value="3">Buku 3</option>
            <option value="4">Buku 4</option>
            <option value="5">Buku 5</option>
        </select>
        <button type="button" id="button-show">Tampilkan</button>

        <div id="container-graph">
            <!-- <canvas id="canvas-graph" width="200"></canvas> -->
        </div>
    </article>
</body>

</html>