<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Tak Berarah</title>
    
    <link rel="stylesheet" href="/css/navigationheader.css">
    <link rel="stylesheet" href="/css/generallayouting.css">
    <link rel="stylesheet" href="/css/graph.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/vis-network.min.js" defer></script>
    <script src="/js/undigraph.js" defer></script>
</head>

<body>
    <%- include('./navigationheader.ejs') %>

        <div id="container-overview">
            <div id="subcontainer-overview">
                <img src="/images/graph.jpg" alt="" id="img-overview">
                <div id="container-expl">
                    <h1>Graph Tak Berarah</h1>
                    <p>Di halaman ini, Anda dapat melihat 10 interaksi antarkarakter terbanyak di setiap buku Game of Thrones dalam bentuk graf tak berarah.
                    <p><i class="fa fa-angle-double-down" aria-hidden="true"></i> Scroll ke bawah untuk melihat.</p>
                </div>
            </div>
        </div>

        <article id="article-top10">
            <h1>10 INTERAKSI TERBANYAK PADA BUKU <span id="span-booknum"></span></h1>
            <div class="container-article-body">
                <div class="container-filter">
                    <label for="select-book">Ganti buku: </label>
                    <select name="book" id="select-book">
                        <option value="1">Buku 1</option>
                        <option value="2">Buku 2</option>
                        <option value="3">Buku 3</option>
                        <option value="4">Buku 4</option>
                        <option value="5">Buku 5</option>
                    </select>
                    <button type="button" id="button-show">Tampilkan</button>
                </div>

                <p>Anda bisa melakukan zoom in atau zoom out dengan scroll pada graf.</p>

                <div id="container-graph">
                </div>
            </div>
        </article>

        </article>
</body>

</html>