* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
}

header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(39, 39, 39);
}

.logo {
    width: fit-content;
    margin-top: 5px;
    height: 55px;
}

.header-left {
    float: left;
}

.wrapper {
    margin-top: 15vh;
    padding: 180px 80px 10px 80px;
    height: 500px;
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    color: white;
    text-align: start;
}

.text-container {
    margin-top: 200px;
}

.wrapper h3 {
    font-size: 32pt;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.wrapper p {
    font-size: 12pt;

}

.desc-wrapper {
    padding: 50px 80px 10px 80px;
    display: grid;
    grid-template-areas: "desc char dragon";
    grid-template-columns: 50% 25% 25%;
    gap: 25px;
    color: white;
}

.desc-icon {
    text-align: justify;
    grid-area: desc;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.char-icon {
    grid-area: char;
    background-image: url(../images/char.png);
    background-size: cover;
    border-radius: 25px;
    height: 200px;
}

.balerion-icon {
    grid-area: dragon;
    background-image: url(../images/balerion.png);
    border-radius: 25px;
    background-size: cover;
    height: 200px;
}

.char-icon p {
    margin-top: 144px;
    padding: 20px;
    background-color: black;
    opacity: 75%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.balerion-icon p {
    margin-top: 144px;
    padding: 20px;
    background-color: black;
    opacity: 75%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}