* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(39, 39, 39);
}

body {
    background-color: rgb(202, 202, 202);
}

.header-left {
    float: left;
}

#container-navbtn a {
  transition: all 0.5s;
}

.wrapper {
    padding: 30px 100px 100px 100px;
    margin-top: 15vh;

}

legend {
    font-size: 32pt;
    border: 1px solid rgb(21, 21, 21);
    background-color: rgb(21, 21, 21);
    color: rgb(217, 217, 217);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    margin-right: 20px;
}

#select-book {
    margin-bottom: 20px;
    font-size: 14pt;
    width: 100px;
}

input {
    margin-bottom: 20px;
    font-size: 14pt;
    height: 30px;
}

input[type="submit"] {
    width: 80px;
    padding: 3px;

}

.page {
    margin-bottom: 10px;
    font-size: 14pt;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12pt;
}

thead {
    background-color: rgb(21, 21, 21);
    color: white;
}

.styled-table thead th,
.styled-table tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.styled-table tbody tr {
    background-color: white;
}