<div class="page">
    <!-- btn sebelumnya -->
    <% if (page>1) { %>
        <a href="<%= url_page+sebelumnya+filter %> " class="page_link">Prev </a>
        <% } %>

            <% if (page<totalPage) { %>
                <a href="<%= url_page+selanjutnya+filter %> " class="page_link">Next </a>
                <% } %>
</div>


<br></br>

<!--paginationnya belum bisa dipake-->